@import "tailwindcss";

:root {
  --main-bg-light: #dadada;
  --main-bg-dark: #1b1b1b;
  --con-bg-light: #e6e6e6;
  --con-bg-dark: #383838;
  --bg-primary: #0077ff;
  --bg-active: #00b7ff;

  --shadow: #6666664f;

  --font-light: #fcf5f5;
  --font-dark: #161616;
  --font-active: #017f9e;

  --border-light: #cacaca;
  --border-dark: #2b2b2b;
  --border-rad-full: 10rem;
  --border-rad-normall: 0.5rem;

  --spacing: 0.25rem;
}

* {
  transition: 0.25s all;
}

@font-face {
  font-family: "vazir";
  src: url("../public/fonts/vazir/Vazir-Medium-FD.eot");
  src:
    url("../public/fonts/vazir/Vazir-Medium-FD.woff") format("woff"),
    url("../public/fonts/vazir/Vazir-Medium-FD.ttf") format("opentype");
}

@font-face {
  font-family: varelmo;
  src: url(../public/fonts/varelmo/Varelmo.ttf);
}

body{
  font-family: vazir, varelmo;
}

.logo__img {
  width: 5rem;
}
.logo__text {
  width: 100%;
  display: flex;
  font-size: 16px;
  flex-wrap: wrap;
  align-items: center;
  height: max-content;
  font-family: varelmo;
  color: var(--font-dark);
  justify-content: center;

  @media screen and (width >= 1400px) {
    font-size: 22px;
  }
}
